<h1>Cocktails#show</h1>
<h2><%= @cocktail.name %></h2>
<% @cocktail.doses.each do |dose| %>
<h2><%= dose.description %> with <%=dose.ingredient.name%></h2>
<% end %>
<%= link_to "back to cocktails", cocktails_path%>
<%= link_to "add your ingredientsðŸ¹", new_cocktail_dose_path(@cocktail) %>
